$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 640px,
  lg: 992px,
  xl: 1300px
);
$enable-rounded: false;

.list{
    li {
        span {
            text-align: left;

            &.hide {
                text-indent: -9999px;
                overflow: hidden;
                display: inline-block;
                width: 2em;
                margin-left: -2em;
            }
        }

    }
}